.banner {
  height: 640px;
  background-image: url(../../images/banner.jpg);
  background-position: center;
  display: flex;
}

.logo {
  padding-top: 32px;
}

.title {
  padding-top: 100px;
  font-size: 40px;
  width: 360px;
  color: white;
  font-weight:normal;
}

.subtitle {
  font-size: 18px;
  width: 360px;
  color: white;
  padding: 16px 0;
}

.input-email {
  padding: 12px 0 12px 14px;
  border-radius: 8px 0 0 8px;
  border: none;
  font-family: "Avenir", "Nunito Sans", "sans-serif";
  font-size: 16px;
  width: 240px;
}

.btn-send {
  background: #A31621;
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 10px 16px 6px 16px;
}

form.hide-submit input[type="submit"] {
  display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#form-request-access {
  display: flex;
  margin-top: 20px;
}


/*---------------------------------RESPONSIVE---------------------------------*/

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
