.banner-navy {
  background: #1E222B;
  color: white;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 56px 0 72px 0;
  flex-wrap: wrap;
}

.feature {
  width: 240px;
}

.feature-title {
  letter-spacing: 0.12em;
  font-size: 14px;
  font-weight: bold;
  margin: 16px 0;
}

.feature-description {

}
