footer {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1E293B;
  flex-direction: column;
}

footer a, footer address {
  color: white;
  margin: 0 8px;
  font-size: 14px;
  margin: 8px;
  font-style: normal; /* overrides address italic */
}

footer a:hover {
  color: #F8FAFC;
}
