.footer {
  padding: 16px 0;
}

.footer a {
  color: #828282;
  margin: 0 8px;
  font-size: 14px;
}

.footer a:hover {
  color: #333333;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
