.privacy {
  max-width: 760px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 120px;
}

.privacy > h1 {
  text-align: center;
  font-size: 64px;
  margin: 40px 0 50px 0;
  letter-spacing: -0.02em;
  font-weight: lighter;
}

.privacy > h2 {
  font-size: 24px;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.privacy p, li{
  font-size: 18px;
  font-family: "Avenir", "Nunito Sans", "sans-serif";
}

@media (max-width: 992px) {
  .privacy {
    padding: 32px;
  }
}
