.step{
  display: flex;
  align-items: center;
}

.reverse {
  flex-direction:row-reverse;
}

.step-info {
  display: flex;
  align-items: center;
}

.step-image img{
  width: 540px;
}

.step-info-number {
    font-family: 'Circular Std';
    font-weight: normal;
    font-size: 300px;
    color: #f2f2f2;
    margin: 0;
    width: 200px;
  }

.step-info-words {
  width: 344px;
}

.step-info-words h2 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 16px;
}

.step-info-words p {
  font-size: 18px;
}

.btn-outlined {
  padding: 8px 12px;
  border: 2px solid #333333;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 24px;
  font-size: 16px !important;
}

.btn-outlined:hover {
  background: #A31621;
  border: 2px solid #A31621;
  color: white;
}
