/*
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #828282;
$grey-4: #bdbdbd;
$grey-5: #e0e0e0;
$grey-6: #f2f2f2;

$wandern-blue: #1E222B;
$wandern-red: #A31621;
*/

@import url(components/banner.css);
@import url(components/container.css);
@import url(components/feature.css);
@import url(components/footer.css);
@import url(components/step.css);
@import url(components/privacy.css);

/*------------------------------------FONTS-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');

@font-face {
  font-family: 'Circular Std';
  font-weight: normal;
  src: url('../fonts/Circular Std/CircularStd-Medium.ttf');
}

p, address {
  font-family: "Avenir", "Nunito Sans", "sans-serif";
  margin: 0;
}

h1, h2, h3 {
  font-family: "Circular Std", "sans-serif";
  margin: 0;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: #333333;
  font-family: "Avenir", "Nunito Sans", "sans-serif";
}

body {
  margin: 0;
  color: #333333;
}

.unselectable, img, .step-info-number, .btn-outlined {
  user-select: none;
}

img {
  pointer-events: none;
}
