.step p {
  font-family: 'Circular Std';
  font-weight: bold;
  font-size: 320px;
  color: #F2F2F2;
}

.step-info {
  color: #333333;
}

.step-info h2 {
  font-family: 'Circular Std';
  font-weight: 500;
  font-size: 32px;

}

.step-info p {
  font-family: 'Avenir';
  font-size: 18px;
}

.step-info a {

}
