<!-- <html> -->
{% extends "layout.html" %}

{% block title %}
  Wandern | Plan your trail accommodation
{% endblock %}

{% block body %}

<header class="bg-hero">
  <div class="container">
    <img src="/assets/images/logo/logo.svg" class="center-logo">
    <h1 class="tagline">Plan your trail accommodation</h1>
    <p class="description">An easy way to find and book mountain huts and campsites on popular hiking trails.</p>
    <form id="form-request-access" class="hide-submit" method="POST" action="/">
      <input
        type="email"
        id="email"
        name="email"
        class="{% if inputMessage in ['error','userExists'] %}shake{% endif %}"
        placeholder="Email me when it’s ready"
        required>
      <label class="btn-send">
        <input type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="10" y1="14" x2="21" y2="3" /><path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5" /></svg>
      </label>
    </form>
      {% if inputMessage == "success" %}
        <p class="input-message">🎉 Thanks for your interest in becoming a founding user!</p>
      {% elif inputMessage == "userExists" %}
        <p class="input-message">👋 We already have this email on our list!</p>
      {% elif inputMessage == "error" %}
        <p class="input-message">⚠️ Oops something went wrong, please try again!</p>
      {% endif %}
    <svg class="down-arrow" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 24 24" stroke-width="1" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="7 7 12 12 17 7" /><polyline points="7 13 12 18 17 13" />
    </svg>
  </div>
</header>

<main>
  <!-- STEP 1 -->
  <section class="bg-gray">
    <div class="container wrapper-step">
      <div class="text">
        <p class="number">1</p>
        <div>
          <h2>Pick a trail</h2>
          <p>Explore mountain huts and campsites along on your trail. See the trail’s stages, water sources, and resupply points.</p>
          <p class="request-access">Request access</p>
        </div>
      </div>
      <div class="step-1-image">
        <img src="/assets/images/step/1.svg" alt="Preview of adding an accommodation to your itinerary and checking availability">
      </div>
    </div>
  </section>
  <!-- STEP 2 -->
  <section class="bg-white">
    <div class="container wrapper-step">
      <img src="assets/images/step/2.svg" alt="Preview of adding an accommodation to your itinerary and checking availability">
        <div class="text">
          <p class="number">2</p>
          <div>
            <h2>Build your itinerary</h2>
            <p>Check availability and add the campsite or hut you’d like to stay at to your itinerary. See your trip unfold on the map.</p>
            <p class="request-access">Request access</p>
          </div>
        </div>
    </div>
  </section>
  <!-- STEP 3 -->
  <section class="bg-gray">
    <div class="container wrapper-step">
        <div class="text">
          <p class="number">3</p>
          <div>
            <h2>Confirm and book</h2>
            <p>Book and pay for all the accommodation in your itinerary in one go without leaving the site.</p>
            <p class="request-access">Request access</p>
          </div>
        </div>
      <img src="/assets/images/step/3.svg" alt="Preview of adding an accommodation to your itinerary and checking availability">
    </div>
  </section>
  <!-- FEATURES -->
  <section class="bg-dark">
    <div class="container">
      <div class="features">
        <div class="feature">
          <img src="/assets/images/features/bookings.svg" alt="Bookings icon">
          <p class="title">Manage Bookings</p>
          <p class="description">Message the host or add, amend, and cancel any bookings in your itinerary.</p>
        </div>
        <div class="feature">
          <img src="/assets/images/features/reviews.svg" alt="Reviews icon">
          <p class="title">Check Hikers Reviews</p>
          <p class="description">Read previous experiences at campsites and mountain huts from hikers.</p>
        </div>
        <div class="feature">
          <img src="/assets/images/features/export.svg" alt="Export icon">
          <p class="title">Export Itinerary</p>
          <p class="description">Export your itinerary's waypoints and route for use on any offline map app.</p>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
