<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SX8983NMH1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-SX8983NMH1');
    </script>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="An easy way to find and book mountain huts and campsites on popular hiking trails. See your trail’s stages, water sources, and resupply points.">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Wandern | Plan your trail accommodation" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wanderntrails.com" />
    <meta property="og:image" content="https://wanderntrails.com/og-image.png" />
    <meta property="og:description" content="An easy way to find and book mountain huts and campsites on popular hiking trails. See your trail’s stages, water sources, and resupply points." />
    <meta property="og:site_name" content="Wandern" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="app">
    <meta name="twitter:text:title" content="Wandern | Plan your trail accommodation">
    <meta name="twitter:title" content="Wandern | Plan your trail accommodation">
    <meta name="twitter:description" content="An easy way to find and book mountain huts and campsites on popular hiking trails. See your trail’s stages, water sources, and resupply points.">
    <meta name="twitter:image:src" content="https://wanderntrails.com/og-image.png">

    <meta name="author" content="Alizeh Khan & Seyhan Van Khan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/favicon.ico"><!-- 32×32 -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="stylesheet" href="/assets/stylesheets/style.css" >
    <script src="/assets/jquery/jquery-3.5.1.min.js"></script>
  </head>

  <body>
    {% block body %}
    {% endblock %}

    <footer>
      <a href="/"><img src="/assets/images/logo-footer.svg" alt="Wandern logo"></a>
      <a class="unselectable" href="/privacy">Privacy Policy</a>
      <address>hello@wanderntrails.com</address>
    </footer>

  </body>
</html>
