<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="An easy way to find and book mountain huts and campsites on popular hiking trails.">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Wandern | Plan your trail accommodation" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://wandern.herokuapp.com" />
    <meta property="og:image" content="http://wandern.herokuapp.com/app-logo.png" />
    <meta property="og:description" content="An easy way to find and book mountain huts and campsites on popular hiking trails." />
    <meta property="og:site_name" content="Wandern" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="app">
    <meta name="twitter:title" content="Wandern | Plan your trail accommodation">
    <meta name="twitter:description" content="An easy way to find and book mountain huts and campsites on popular hiking trails.">
    <meta name="twitter:image:src" content="http://wandern.herokuapp.com/app-logo.png">

    <meta name="author" content="Alizeh Khan & Seyhan Van Khan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/favicon.ico"><!-- 32×32 -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="stylesheet" href="/assets/stylesheets/style.css" >
    <script defer src="/assets/jquery/jquery.min.js"></script>
  </head>

  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
